
main/out/main.elf
main/out/main.bin
main/out/main.lst
main/out/main.map
main/out/main.names.csv
main/out/main/src/cJSON.d
main/out/main/src/cJSON.o
main/out/main/src/luces.o
main/out/main/src/lux.o
main/out/main/src/main.d
main/out/main/src/main.o
main/out/main/src/mode.d
main/out/main/src/mode.o
main/out/main/src/pir.o
main/out/main/src/puertos.o
main/out/main/src/wifi.d
main/out/main/src/wifi.o
proteus/poncho.pdsprj.DESKTOP-4CCOVL2.Hernan.workspace
main/out/main.bin
*.o
*.csv
*.d
*.elf
*.bin
*.lst
*.map
*.csv
*.o
